body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #ccc;
    font-size: 21px;
    position: relative;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* CORE ELEMENTS
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

h1 {
    font-size: 50px;
    font-weight: 100;
}

h2 {
    font-size: 38px;
    font-weight: 100;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

hr {
    border-color: rgba(0, 0, 0, .10);
}

a,
a:link,
a:visited {
    color: #008094
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* FORMAT
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.lead {
    font-weight: 100;
}

.btn-lg {
    border-radius: 1px;
    font-weight: 100;
}

.btn-group-lg>.btn,
.btn-lg {
    border-radius: 1px;
    background-color: #455A64;
    padding: 8px 32px;
}

a.btn-danger {
    background: rgba(14, 168, 84, 1);
    color: #FFF;
    border: 0;
    font-weight: 400;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a.btn-danger:hover, a.btn-danger:focus {
    background: rgba(14, 227, 84, 1);
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* NAVBAR
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.navbar-brand{
    padding-left: 0;
    margin-left: -15px;
}
.navbar-brand img {
    width: 250px;
}

.navbar {
    background-color: rgba(14, 168, 84, 1);
    border-bottom: none;
    font-size: 32px;
    box-shadow: 0 0 0px #000000;
}

.navbar-header {}

.navbar-nav {
    /*margin-top: 9px;*/
    float: right;
}

.navbar-collapse {
    /*margin-top: 22px;
    margin-bottom: 25px;*/
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: rgba(14, 140, 84, 1);
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #4b7e78;
    color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #097596;
}

.navbar-toggle{
    margin-top: 40px;
    top: -15px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* GLOBAL SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

section h2 {
    margin-top: 20px;
    margin-bottom: 36px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px #666666;
    height: 230px;
    margin-bottom: 26px;
    position: relative;
    overflow: hidden;
}

.card img{
    -webkit-transition: all 0.2s ease;
}
.card:hover img{
    -webkit-transform: scale(1.1);
}

.card-logo{
    float: none;
    display: inline-block;
    margin-left: -4px;
}

.friend-logo:hover {
    
    /*-webkit-transition: all 0.4s ease;*/
    /*-webkit-filter: grayscale(0);*/
}

.friend-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    /*-webkit-filter: grayscale(1);*/
}

.loc-bx {
    margin-top: 42px;
    padding: 22px;
}

.loc-bx h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hey-yo {
    margin: 10px 5px 0 5px;
    text-transform: uppercase;
    padding: 18px 40px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* MAIN SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    margin-top: 50px;
}

.tab a {
    color: rgb(69, 90, 100);
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 20px;
}

.tab a:hover {}

.tab.active {}

.tab a.active {
    font-weight: bold;
}

section.main {
    background: rgba(14, 115, 84, 1);
    color: #fff;
    font-weight: 400;
}

.coverzao{
    max-width: 15%;
}

.starter-template {
    position: relative;
    padding: 160px 15px 62px;
    text-align: center;
}

.clock{
    background: url("../img/clock.png") no-repeat;
    width: 258px;
    height: 600px;
    position: absolute;
    right: 0;
    z-index: 0;
    top: 0;
}

@media all and (max-width: 1200px) {
    .clock{display: none;}
}

.sobre {
	position: relative;
    font-size: 22px;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    margin: -20px auto 50px;
    text-align: center;
    padding: 40px 40px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* AGENCA SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* AGENCA SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.agenda {
    margin-bottom: 40px;
}

.presentation-gem {
    margin-bottom: 30px;
}

.presentation-desc {
    /*display: inline-block;
    margin-left: 15px;
    max-width: 80%;*/
}

.col-sm-3 .presentation-desc h3,
.col-sm-6 .presentation-desc h3 {
    font-size: 1.25em;
}

.col-sm-3 .presentation-desc,
.col-sm-6 .presentation-desc {
    font-size: 0.8em;
}

.agenda hr {
    margin-bottom: 40px;
    margin-top: 40px;
}

.entry-gem {
    display: table;
    width: 100%;
}

.gem-col {
    display: table-cell;
    vertical-align: top;
}

.gem-time {
    width: 100px;
}

.col-hour {
    text-align: center;
}

.sala-el {
    text-align: center;
    border-right: 1px solid #000;
    padding: 0;
}

.gem-hour {
    font-size: 40px;
}

.gem-hour span {
    font-size: 35px;
}

.gem-turn {
    font-size: 22px;
    text-transform: uppercase;
}

.gem-content {
    padding-right: 20px;
}

.sub {
    color: #666666;
    font-size: 21px;
    font-weight: 500;
}

.gem-photo {
    width: 200px;
    padding-bottom: 22px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* LOCALIZAÇÃO SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.localizacao {
    /*background-color: #455A64;*/
    padding: 0 0 60px;
    overflow: hidden;
    min-height: 350px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    position: relative;
}

.maplayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 18px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.hackathon {
    color: #2E2D2E;
    background-color: #FFF;
    min-height: 330px;
    padding: 20px 44px 60px;
    text-align: center;
}

.img-hack {
    margin: 0 auto 40px;
    max-width: 500px;
}

.btn-codecup {
    /*background: #FF9833 !important;
    color: #2E2C2D !important;
    text-transform: uppercase !important;*/
    margin-top: 40px !important;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* ORGANIZACAO SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.organizacao {
    color: #2E2D2E;
    /*background-color: #7bb2ab;*/
    min-height: 330px;
    padding-bottom: 44px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* PARCEIROS SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.parceiros {
    color: #2E2D2E;
    /*background-color: #7bb2ab;*/
    min-height: 330px;
    padding-bottom: 44px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* PATROCINADORES SECTION
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.patrocinadores {
    color: #2E2D2E;
    /*background-color: #7bb2ab;*/
    min-height: 330px;
    padding-bottom: 44px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* FOOTER
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

footer {
    padding: 12px 0px;
    background-color: rgba(14, 168, 84, 1);
    text-align: center;
}

footer h1 {
    margin-bottom: 20px;
    color: #fff;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
* RESPONSIVE RULES
*
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Small devices (tablets, 768px and up) */

@media (max-width: 767px) {
    .container .navbar-nav{
        float: left;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .container .navbar-nav li, .container .navbar-nav a{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        width: 200px;
        /*margin-top: 10px;*/
    }
    .friends-logo {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {

    .navbar-brand{
        padding: 8px 0 7px 0;
        height: auto;
    }
    .navbar-brand img {
        width: 260px;
    }

    .navbar-inverse .navbar-nav>li>a{
        line-height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container .navbar-header, .container .navbar-nav{
        float: none !important;
    }

    .container .navbar-brand{
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: table;
    }

    .container .navbar-nav{
        display: table;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .starter-template {
		position: relative;
		padding: 148px 0px 0px;
		text-align: center;
	}   
	
	.maplayer {
		display: none;
	}	
}

.img-grayscale:hover {
    -webkit-transition: all 0.4s ease;
    -webkit-filter: grayscale(0);
}

.img-grayscale {
    -webkit-transition: all 0.4s ease;
    -webkit-filter: grayscale(1);
}

.img-grayscale-inverse:hover {
    -webkit-transition: all 0.4s ease;
    -webkit-filter: grayscale(1);
}

.img-grayscale-inverse {
    -webkit-transition: all 0.4s ease;
    -webkit-filter: grayscale(0);
}

footer .codigoDeConduta{color:#fff; font-size: 26px; font-weight: 300px;}
